@import uk.gov.hmrc.capmovie.models.Movie
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)
@(movie: Movie, user: String)(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some(movie.title + " Delete"), userType = user) {
<p class="govuk-heading-xl">Delete @movie.title</p>
<p class="govuk-hint">Deleting @movie.title will permanently remove it from the website, this action cannot be undone</p>
<div>
    <a class="govuk-link" data-module="govuk-button" href="http://localhost:9001/capmovie/movie/@movie.id">
        Cancel and return
    </a>
</div>
<br>
<form action="http://localhost:9001/capmovie/delete/confirmed/@movie.id">
    <button id="confirm" class="govuk-button govuk-button--warning" data-module="govuk-button">Delete Movie</button>
</form>
}