@import uk.gov.hmrc.capmovie.models.MovieWithAvgRating
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)
@(movie: MovieWithAvgRating, user: String)(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some(movie.movie.title), userType = user) {
<div id="movie-container">
    <div class="movie-card">
        <p id="title" class="govuk-heading-xl">@movie.movie.title</p>
        <img width="150" height="250" src=@movie.movie.poster/>
        <p id="rated" class="govuk-body"><strong>Rated:</strong> <br>
            @movie.movie.rated
        </p>

        <p id="plot" class="govuk-body"><Strong>Plot:</Strong> <br>
            @movie.movie.plot
        </p>

        <p id="avg" class="govuk-body"><Strong>Avg:</Strong> <br>
            @movie.avgRating
        </p>

        <p class="govuk-body"><strong>Cast:</Strong> <br>
            @for(actor <- movie.movie.cast) {
        <p class="govuk-body">@actor<p>
        }
    </p>

        <p class="govuk-body"><strong>Genres:</strong> <br>
            @for(genre <- movie.movie.genres) {
        <p class="govuk-body">@genre<p>
        }
    </p>
        @if(user == "admin") {
        <a id="delete" href="http://localhost:9001/capmovie/delete/@movie.movie.id" class="govuk-body">Delete</a>
        <br><br>
        <a id="update" href="http://localhost:9000/capmovie/update/@movie.movie.id/title" class="govuk-body">Update</a>
        }
    </div>
</div>
}