@import uk.gov.hmrc.capmovie.models.MovieWithAvgRating
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)
@(movie: MovieWithAvgRating, user: String)(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some(movie.movie.title), userType = user) {

<h1 class="govuk-heading-l">@movie.movie.title</h1>
<div class="movie-card">
    <img width="150" height="250" src=@movie.movie.poster/>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Title
            </dt>
            <dd id="title" class="govuk-summary-list__value">
                @movie.movie.title
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Rated
            </dt>
            <dd id="rated" class="govuk-summary-list__value">
                @movie.movie.rated
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Plot
            </dt>
            <dd id="plot" class="govuk-summary-list__value">
                @movie.movie.plot
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Cast
            </dt>
            <dd class="govuk-summary-list__value">
                @for(actor <- movie.movie.cast) {
                <p class="govuk-body">@actor</p>
                }
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Genre
            </dt>
            <dd class="govuk-summary-list__value">
                @for(genre <- movie.movie.genres) {
                <p class="govuk-body">@genre</p>
                }
            </dd>
        </div>
    </dl>
    @if(user == "admin") {
    <a id="update" class="govuk-link govuk-body" href="http://localhost:9000/capmovie/update/@movie.movie.id/title">Update</a>
    <br><br>
    <a id="delete" class="govuk-body govuk-link" href="http://localhost:9001/capmovie/delete/@movie.movie.id">Delete</a>
    }
</div>
}