@import uk.gov.hmrc.capmovie.models.Movie
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary)
@(movie: Movie )(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some(movie.title)) {
<div id="movie-container">
    <div class="movie-card">
        <p id="title">@movie.title</p>
        <img width="150" height="250" src=@movie.poster/>
        <p id="rated">Rated: <br>
            @movie.rated
        </p>

        <p id="plot">Plot: <br>
            @movie.plot
        </p>

        <p>Cast: <br>
            @for(actor <- movie.cast) {
                <p>@actor<p>
            }
        </p>

        <p>Genres: <br>
            @for(genre <- movie.genres) {
                <p>@genre<p>
            }
        </p>
    </div>
</div>
}