@import uk.gov.hmrc.capmovie.models.ReviewReg
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukTextarea : GovukTextarea, govukErrorSummary : GovukErrorSummary)
@(form: Form[ReviewReg], movieId: String, user: String)(implicit request: Request[_], messages: Messages)
@layout(pageTitle = Some("Movie Review"), userType = user) {
@if(form.errors.nonEmpty) {
@defining(form.errors.map { error =>
ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))
}) {errorLinks => @govukErrorSummary(ErrorSummary(
errorList = errorLinks,
title = Text(messages("There is a problem"))
))
}
}
@helper.form(uk.gov.hmrc.capmovie.controllers.routes.ReviewController.submitReview(movieId), 'class -> "govuk-body") {
@govukTextarea(Textarea(
name = "review",
id = "review",
hint = Some(Hint(content = Text("Please provide what the movie plot is"))),
errorMessage = if(form.errors("review").nonEmpty) {Some(ErrorMessage(
content = Text("Please leave honest review of the movie, your opinion counts!")))} else {None},
label = Label(
isPageHeading = true,
classes = "govuk-label--l",
content = Text("What are your thoughts about the movie?")
)
))

<button class="govuk-button" data-module="govuk-button" type="submit" id="submit">
    Continue
</button>
}
}

